main {
    display: grid;
    grid-template-columns: 350px, 1fr;
    grid-template-areas: 
    'player-info enemy-info';
    color: white;
}

header {
    background-color: transparent;
}

h1 {
    background-color: black;
    color: white;
    display: flex;
    justify-items: center;
}

.player-info {
    grid-area: 'player-info';
    padding: 15px;
    justify-self: center;
}

.enemy-info {
    grid-area: 'enemy-info';
}


#enemy-message {
    background: black;
    justify-self: flex-start;
    align-self: center;
    padding: 3px;
}

#player-message {
    background: black;
    justify-self: center;
    align-self: center;
    padding: 3px;
}

button {
    background-color: #553c0691;
    border-radius: 10px;
}

#add-enemy-button {
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
    color: white;
}

#add-enemy-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: rgb(85, 64, 20);
}

.player-hp-container {
    background: black;

}

.enemies-defeated {
    background: black;
    padding: 1px;
}

#add-enemy {
    padding-bottom: 10px;
}

button, .enemy {
    background-color: transparent;
    color: white;
    border: none;
}

